
  <div class="bg-contact container-fluid">



    <div class="container col-lg-7">
      <%= image_tag "logo-white.png", class: "logo"%>
      <h1 class="contact">Contact</h1>
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="form-group">
              <%= form_for @contact, url: one_for_all_index_path do |f| %>
              <%= f.label :name %><br>
              <%= f.text_field :name, required: true, class:"form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :email  %><br>
              <%= f.email_field :email, required: true, class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :message %><br>
              <%= f.text_area :message, as: :text, class:"form-control" %>
          </div>
          <%= f.submit "Send message", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>




    <div class="social container col-7 col-sm-5 col-md-4 col-lg-5 col-xl-3">
      <div class="row">
        <div class="col-6 col-lg-6"><a href="https://www.linkedin.com/in/petr-fila/" target="_blank" alt="Linked In"><%= image_tag "linked_in_transparent.png", class:"img-fluid linkedin"%></a></div>
        <div class="col-6 col-lg-6"><a href="https://github.com/PetrFila" target="_blank" alt="GitHub"><%= image_tag "github-icon_transparent.png", class:"img-fluid github_small"%></a></div>
      </div>
    </div>


  </div>
