<div class="contact container-fluid">
  <div class="container">
    <%= render "/layouts/header" %>
    <h1 class="contact">Contact</h1>
  </div>

  <div class="container">
    <%= form_for @contact, url: one_for_all_index_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true %>

      <br>

      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>

      <br>

      <%= f.label :message %><br>
      <%= f.text_area :message, as: :text %>

      <div class="hidden">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, hint: "leave this field blank" %>
      </div>

      <%= f.submit "Send message", class: "button" %>
    <%end%>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <div class="row">

        <img class="social" src=".\images\linked_in_icon2.png" alt="">
        <img class="social" src=".\images\github-icon.png" alt="">

    </div>
  </div>
</div>
