<!DOCTYPE html>
<html>
  <head>
    <title>Petr Fila</title>
    <%= favicon_link_tag "apple-icon-57x57.png"%>
    <%= favicon_link_tag "apple-icon-60x60.png"%>
    <%= favicon_link_tag "apple-icon-72x72.png"%>
    <%= favicon_link_tag "apple-icon-76x76.png"%>
    <%= favicon_link_tag "apple-icon-114x114.png"%>
    <%= favicon_link_tag "apple-icon-120x120.png"%>
    <%= favicon_link_tag "apple-icon-144x144.png"%>
    <%= favicon_link_tag "apple-icon-152x152.png"%>
    <%= favicon_link_tag "apple-icon-180x180.png"%>
    <%= favicon_link_tag "android-icon-192x192.png"%>
    <%= favicon_link_tag "favicon-32x32.png"%>
    <%= favicon_link_tag "favicon-96x96.png"%>
    <%= favicon_link_tag "favicon-16x16.png"%>
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
